[submodule "adapter-platform-integration"]
	path = adapter-platform-integration
	url = git@github.com:vanillabp/adapter-platform-integration.git
	branch = main
[submodule "adapter-platform-integration.wiki"]
	path = adapter-platform-integration.wiki
	url = https://github.com/vanillabp/adapter-platform-integration.wiki.git
	branch = master
[submodule "blueprints"]
	path = blueprints
	url = git@github.com:vanillabp-blueprints/blueprints.git
	branch = main
[submodule "blueprints-organisation-page"]
	path = blueprints-organisation-page
	url = git@github.com:vanillabp-blueprints/.github.git
	branch = main
[submodule "camunda7-adapter"]
	path = camunda7-adapter
	url = git@github.com:vanillabp/camunda7-adapter.git
	branch = main
[submodule "camunda7-adapter.wiki"]
	path = camunda7-adapter.wiki
	url = https://github.com/camunda-community-hub/vanillabp-camunda7-adapter.wiki.git
	branch = master
[submodule "camunda8-adapter"]
	path = camunda8-adapter
	url = git@github.com:vanillabp/camunda8-adapter.git
	branch = main
[submodule "camunda8-adapter.wiki"]
	path = camunda8-adapter.wiki
	url = https://github.com/camunda-community-hub/vanillabp-camunda8-adapter.wiki.git
	branch = master
[submodule "process-engine-api-adapter"]
	path = process-engine-api-adapter
	url = git@github.com:vanillabp/process-engine-api-adapter.git
	branch = main
[submodule "renovate-config"]
	path = renovate-config
	url = git@github.com:vanillabp/renovate-config.git
	branch = main
[submodule "spi-for-java"]
	path = spi-for-java
	url = git@github.com:vanillabp/spi-for-java.git
	branch = main
[submodule "process-engine-api-adapter.wiki"]
	path = process-engine-api-adapter.wiki
	url = git@github.com:vanillabp/process-engine-api-adapter.wiki.git
	branch = master
